@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
	<div class="row">
		<div class="col-xl-12 mt-4">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-body">
							<div class="row shapreter-row">
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="fas fa-eye"></i>
										</span>
										<h3 class="count">94</h3>
										<span class="fs-14">Profile Viewed</span>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="far fa-comments"></i>
										</span>
										<h3 class="count">261</h3>
										<span class="fs-14">Unread Messages</span>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="fas fa-suitcase"></i>
										</span>
										<h3 class="count">874</h3>
										<span class="fs-14">Application Sent</span>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="fas fa-suitcase"></i>
										</span>
										<h3 class="count">25</h3>
										<span class="fs-14">App. Answered</span>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="fas fa-calendar"></i>
										</span>
										<h3 class="count">221</h3>
										<span class="fs-14">Interviewed</span>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
									<div class="static-icon">
										<span>
											<i class="fas fa-phone-alt"></i>
										</span>
										<h3 class="count">4</h3>
										<span class="fs-14">Hired</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card">
						<div class="card-header border-0 pb-0">
							<h4 class="fs-20 font-w600">Profile Stregth</h4>
						</div>
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-xl-6 col-sm-6">
									<div class="progress default-progress">
										<div class="progress-bar bg-vigit progress-animated" style="width: 90%; height:13px;" role="progressbar">
											<span class="sr-only">90% Complete</span>
										</div>
									</div>
									<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
										<span class="fs-14 font-w500">Visitor</span>
										<span class="fs-16"><span class="text-black pe-2"></span>90%</span>
									</div>
									<div class="progress default-progress">
										<div class="progress-bar bg-contact progress-animated" style="width: 68%; height:13px;" role="progressbar">
											<span class="sr-only">45% Complete</span>
										</div>
									</div>
									<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
										<span class="fs-14 font-w500">Contact</span>
										<span class="fs-16"><span class="text-black pe-2"></span>68%</span>
									</div>
									<div class="progress default-progress">
										<div class="progress-bar bg-follow progress-animated" style="width: 85%; height:13px;" role="progressbar">
											<span class="sr-only">85% Complete</span>
										</div>
									</div>
									<div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
										<span class="fs-14 font-w500">Follow</span>
										<span class="fs-16"><span class="text-black pe-2"></span>85%</span>
									</div>
								</div>
								<div class="col-xl-6 col-sm-6" style="position: relative;">
									<div id="pieChart3" style="min-height: 212.8px;"><div id="apexcharts28l8qo0f" class="apexcharts-canvas apexcharts28l8qo0f apexcharts-theme-light" style="width: 321px; height: 212.8px;"><svg id="SvgjsSvg1006" width="321" height="212.8" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1008" class="apexcharts-inner apexcharts-graphical" transform="translate(58.5, 0)"><defs id="SvgjsDefs1007"><clipPath id="gridRectMask28l8qo0f"><rect id="SvgjsRect1010" width="210" height="228" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMask28l8qo0f"><rect id="SvgjsRect1011" width="210" height="232" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1012" class="apexcharts-pie"><g id="SvgjsG1013" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1014" r="62.71707317073171" cx="103" cy="103" fill="transparent"></circle><g id="SvgjsG1015" class="apexcharts-slices"><g id="SvgjsG1016" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1017" d="M 103 6.512195121951208 A 96.48780487804879 96.48780487804879 0 0 1 173.1826860015361 169.213949253871 L 148.61874590099848 146.03906701501614 A 62.71707317073171 62.71707317073171 0 0 0 103 40.28292682926829 L 103 6.512195121951208 z" fill="rgba(246,173,46,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="133.33333333333334" data:startAngle="0" data:strokeWidth="0" data:value="90" data:pathOrig="M 103 6.512195121951208 A 96.48780487804879 96.48780487804879 0 0 1 173.1826860015361 169.213949253871 L 148.61874590099848 146.03906701501614 A 62.71707317073171 62.71707317073171 0 0 0 103 40.28292682926829 L 103 6.512195121951208 z"></path></g><g id="SvgjsG1018" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1019" d="M 173.1826860015361 169.213949253871 A 96.48780487804879 96.48780487804879 0 0 1 24.866469291264266 159.61314219482492 L 52.21320503932178 139.79854242663617 A 62.71707317073171 62.71707317073171 0 0 0 148.61874590099848 146.03906701501614 L 173.1826860015361 169.213949253871 z" fill="var(--primary)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="100.74074074074073" data:startAngle="133.33333333333334" data:strokeWidth="0" data:value="68" data:pathOrig="M 173.1826860015361 169.213949253871 A 96.48780487804879 96.48780487804879 0 0 1 24.866469291264266 159.61314219482492 L 52.21320503932178 139.79854242663617 A 62.71707317073171 62.71707317073171 0 0 0 148.61874590099848 146.03906701501614 L 173.1826860015361 169.213949253871 z"></path></g><g id="SvgjsG1020" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1021" d="M 24.866469291264266 159.61314219482492 A 96.48780487804879 96.48780487804879 0 0 1 102.98315970125404 6.512196591544509 L 102.98905380581513 40.28292778450393 A 62.71707317073171 62.71707317073171 0 0 0 52.21320503932178 139.79854242663617 L 24.866469291264266 159.61314219482492 z" fill="rgba(65,46,255,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="125.92592592592592" data:startAngle="234.07407407407408" data:strokeWidth="0" data:value="85" data:pathOrig="M 24.866469291264266 159.61314219482492 A 96.48780487804879 96.48780487804879 0 0 1 102.98315970125404 6.512196591544509 L 102.98905380581513 40.28292778450393 A 62.71707317073171 62.71707317073171 0 0 0 52.21320503932178 139.79854242663617 L 24.866469291264266 159.61314219482492 z"></path></g></g></g></g><line id="SvgjsLine1022" x1="0" y1="0" x2="206" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1023" x1="0" y1="0" x2="206" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1009" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 115px;"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(246, 173, 46);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: var(--primary);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(65, 46, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
									<div class="resize-triggers"><div class="expand-trigger"><div style="width: 352px; height: 214px;"></div></div><div class="contract-trigger"></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card">
						<div class="card-header border-0 flex-wrap pb-0">
							<h4 class="fs-20 font-w600">Your Network Summary</h4>
							<div>
								<span>
									<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
										<rect width="13" height="13" fill="#f73a0b"></rect>
									</svg>
									Following
								</span>
								<span class="ms-4 fs-16 font-w600">239</span>
								<div class="mt-2">
									<span>
										<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" fill="#f73a0b"></rect>
										</svg>
										Followers
									</span>
									<span class="ms-4 fs-16 font-w600">824</span>
								</div>
							</div>
						</div>
						<div class="card-body pt-0 pb-3" style="position: relative;">
							<div id="chartBar" class="chartBar" style="min-height: 245px;"><div id="apexchartso31b8lgl" class="apexcharts-canvas apexchartso31b8lgl apexcharts-theme-light" style="width: 672px; height: 230px;"><svg id="SvgjsSvg1024" width="672" height="230" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1026" class="apexcharts-inner apexcharts-graphical" transform="translate(47.5, 30)"><defs id="SvgjsDefs1025"><clipPath id="gridRectMasko31b8lgl"><rect id="SvgjsRect1030" width="619.5" height="161.73" x="-2.5" y="-0.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMasko31b8lgl"><rect id="SvgjsRect1031" width="618.5" height="164.73" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1051" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1052" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1054" font-family="poppins" x="43.892857142857146" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1055">Sunday</tspan><title>Sunday</title></text><text id="SvgjsText1057" font-family="poppins" x="131.67857142857144" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1058">Monday</tspan><title>Monday</title></text><text id="SvgjsText1060" font-family="poppins" x="219.46428571428575" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1061">Tuesday</tspan><title>Tuesday</title></text><text id="SvgjsText1063" font-family="poppins" x="307.25" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1064">Wednesday</tspan><title>Wednesday</title></text><text id="SvgjsText1066" font-family="poppins" x="395.0357142857143" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1067">Thursday</tspan><title>Thursday</title></text><text id="SvgjsText1069" font-family="poppins" x="482.8214285714286" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1070">Friday</tspan><title>Friday</title></text><text id="SvgjsText1072" font-family="poppins" x="570.607142857143" y="189.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-xaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1073">Saturday</tspan><title>Saturday</title></text></g><line id="SvgjsLine1074" x1="0" y1="161.73" x2="614.5" y2="161.73" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1"></line></g><g id="SvgjsG1089" class="apexcharts-grid"><g id="SvgjsG1090" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1100" x1="0" y1="0" x2="614.5" y2="0" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1101" x1="0" y1="32.146" x2="614.5" y2="32.146" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1102" x1="0" y1="64.292" x2="614.5" y2="64.292" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1103" x1="0" y1="96.438" x2="614.5" y2="96.438" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1104" x1="0" y1="128.584" x2="614.5" y2="128.584" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1105" x1="0" y1="160.73000000000002" x2="614.5" y2="160.73000000000002" stroke="#eeeeee" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1091" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1092" x1="0" y1="161.73" x2="0" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1093" x1="87.78571428571429" y1="161.73" x2="87.78571428571429" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1094" x1="175.57142857142858" y1="161.73" x2="175.57142857142858" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1095" x1="263.3571428571429" y1="161.73" x2="263.3571428571429" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1096" x1="351.14285714285717" y1="161.73" x2="351.14285714285717" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1097" x1="438.92857142857144" y1="161.73" x2="438.92857142857144" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1098" x1="526.7142857142858" y1="161.73" x2="526.7142857142858" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1099" x1="614.5000000000001" y1="161.73" x2="614.5000000000001" y2="167.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1107" x1="0" y1="160.73" x2="614.5" y2="160.73" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1106" x1="0" y1="1" x2="0" y2="160.73" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1032" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1033" class="apexcharts-series" rel="1" seriesName="NetxProfit" data:realIndex="0"><path id="SvgjsPath1035" d="M32.91964285714286 160.73L32.91964285714286 136.6205C32.91964285714286 136.6205 32.91964285714286 136.6205 32.91964285714286 136.6205L42.892857142857146 136.6205C42.892857142857146 136.6205 42.892857142857146 136.6205 42.892857142857146 136.6205L42.892857142857146 136.6205L42.892857142857146 160.73L42.892857142857146 160.73C42.892857142857146 160.73 32.91964285714286 160.73 32.91964285714286 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 32.91964285714286 160.73L 32.91964285714286 136.6205Q 32.91964285714286 136.6205 32.91964285714286 136.6205L 42.892857142857146 136.6205Q 42.892857142857146 136.6205 42.892857142857146 136.6205L 42.892857142857146 136.6205L 42.892857142857146 160.73L 42.892857142857146 160.73z" pathFrom="M 32.91964285714286 160.73L 32.91964285714286 160.73L 42.892857142857146 160.73L 42.892857142857146 160.73L 42.892857142857146 160.73L 42.892857142857146 160.73L 42.892857142857146 160.73L 32.91964285714286 160.73" cy="136.6205" cx="120.20535714285715" j="0" val="15" barHeight="24.109499999999997" barWidth="10.973214285714286"></path><path id="SvgjsPath1036" d="M120.70535714285715 160.73L120.70535714285715 72.32849999999999C120.70535714285715 72.32849999999999 120.70535714285715 72.32849999999999 120.70535714285715 72.32849999999999L130.67857142857144 72.32849999999999C130.67857142857144 72.32849999999999 130.67857142857144 72.32849999999999 130.67857142857144 72.32849999999999L130.67857142857144 72.32849999999999L130.67857142857144 160.73L130.67857142857144 160.73C130.67857142857144 160.73 120.70535714285715 160.73 120.70535714285715 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 120.70535714285715 160.73L 120.70535714285715 72.32849999999999Q 120.70535714285715 72.32849999999999 120.70535714285715 72.32849999999999L 130.67857142857144 72.32849999999999Q 130.67857142857144 72.32849999999999 130.67857142857144 72.32849999999999L 130.67857142857144 72.32849999999999L 130.67857142857144 160.73L 130.67857142857144 160.73z" pathFrom="M 120.70535714285715 160.73L 120.70535714285715 160.73L 130.67857142857144 160.73L 130.67857142857144 160.73L 130.67857142857144 160.73L 130.67857142857144 160.73L 130.67857142857144 160.73L 120.70535714285715 160.73" cy="72.32849999999999" cx="207.99107142857144" j="1" val="55" barHeight="88.4015" barWidth="10.973214285714286"></path><path id="SvgjsPath1037" d="M208.49107142857144 160.73L208.49107142857144 16.073000000000008C208.49107142857144 16.073000000000008 208.49107142857144 16.073000000000008 208.49107142857144 16.073000000000008L218.46428571428572 16.073000000000008C218.46428571428572 16.073000000000008 218.46428571428572 16.073000000000008 218.46428571428572 16.073000000000008L218.46428571428572 16.073000000000008L218.46428571428572 160.73L218.46428571428572 160.73C218.46428571428572 160.73 208.49107142857144 160.73 208.49107142857144 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 208.49107142857144 160.73L 208.49107142857144 16.073000000000008Q 208.49107142857144 16.073000000000008 208.49107142857144 16.073000000000008L 218.46428571428572 16.073000000000008Q 218.46428571428572 16.073000000000008 218.46428571428572 16.073000000000008L 218.46428571428572 16.073000000000008L 218.46428571428572 160.73L 218.46428571428572 160.73z" pathFrom="M 208.49107142857144 160.73L 208.49107142857144 160.73L 218.46428571428572 160.73L 218.46428571428572 160.73L 218.46428571428572 160.73L 218.46428571428572 160.73L 218.46428571428572 160.73L 208.49107142857144 160.73" cy="16.073000000000008" cx="295.7767857142857" j="2" val="90" barHeight="144.65699999999998" barWidth="10.973214285714286"></path><path id="SvgjsPath1038" d="M296.2767857142857 160.73L296.2767857142857 32.14599999999999C296.2767857142857 32.14599999999999 296.2767857142857 32.14599999999999 296.2767857142857 32.14599999999999L306.25 32.14599999999999C306.25 32.14599999999999 306.25 32.14599999999999 306.25 32.14599999999999L306.25 32.14599999999999L306.25 160.73L306.25 160.73C306.25 160.73 296.2767857142857 160.73 296.2767857142857 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 296.2767857142857 160.73L 296.2767857142857 32.14599999999999Q 296.2767857142857 32.14599999999999 296.2767857142857 32.14599999999999L 306.25 32.14599999999999Q 306.25 32.14599999999999 306.25 32.14599999999999L 306.25 32.14599999999999L 306.25 160.73L 306.25 160.73z" pathFrom="M 296.2767857142857 160.73L 296.2767857142857 160.73L 306.25 160.73L 306.25 160.73L 306.25 160.73L 306.25 160.73L 306.25 160.73L 296.2767857142857 160.73" cy="32.14599999999999" cx="383.5625" j="3" val="80" barHeight="128.584" barWidth="10.973214285714286"></path><path id="SvgjsPath1039" d="M384.0625 160.73L384.0625 120.54749999999999C384.0625 120.54749999999999 384.0625 120.54749999999999 384.0625 120.54749999999999L394.0357142857143 120.54749999999999C394.03571428571433 120.54749999999999 394.03571428571433 120.54749999999999 394.0357142857143 120.54749999999999L394.0357142857143 120.54749999999999L394.0357142857143 160.73L394.0357142857143 160.73C394.0357142857143 160.73 384.0625 160.73 384.0625 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 384.0625 160.73L 384.0625 120.54749999999999Q 384.0625 120.54749999999999 384.0625 120.54749999999999L 394.0357142857143 120.54749999999999Q 394.0357142857143 120.54749999999999 394.0357142857143 120.54749999999999L 394.0357142857143 120.54749999999999L 394.0357142857143 160.73L 394.0357142857143 160.73z" pathFrom="M 384.0625 160.73L 384.0625 160.73L 394.0357142857143 160.73L 394.0357142857143 160.73L 394.0357142857143 160.73L 394.0357142857143 160.73L 394.0357142857143 160.73L 384.0625 160.73" cy="120.54749999999999" cx="471.3482142857143" j="4" val="25" barHeight="40.1825" barWidth="10.973214285714286"></path><path id="SvgjsPath1040" d="M471.8482142857143 160.73L471.8482142857143 136.6205C471.84821428571433 136.6205 471.84821428571433 136.6205 471.8482142857143 136.6205L481.82142857142856 136.6205C481.82142857142856 136.6205 481.82142857142856 136.6205 481.82142857142856 136.6205L481.82142857142856 136.6205L481.82142857142856 160.73L481.82142857142856 160.73C481.82142857142856 160.73 471.8482142857143 160.73 471.8482142857143 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 471.8482142857143 160.73L 471.8482142857143 136.6205Q 471.8482142857143 136.6205 471.8482142857143 136.6205L 481.82142857142856 136.6205Q 481.82142857142856 136.6205 481.82142857142856 136.6205L 481.82142857142856 136.6205L 481.82142857142856 160.73L 481.82142857142856 160.73z" pathFrom="M 471.8482142857143 160.73L 471.8482142857143 160.73L 481.82142857142856 160.73L 481.82142857142856 160.73L 481.82142857142856 160.73L 481.82142857142856 160.73L 481.82142857142856 160.73L 471.8482142857143 160.73" cy="136.6205" cx="559.1339285714286" j="5" val="15" barHeight="24.109499999999997" barWidth="10.973214285714286"></path><path id="SvgjsPath1041" d="M559.6339285714286 160.73L559.6339285714286 48.218999999999994C559.6339285714286 48.218999999999994 559.6339285714286 48.218999999999994 559.6339285714286 48.218999999999994L569.6071428571429 48.218999999999994C569.6071428571429 48.218999999999994 569.6071428571429 48.218999999999994 569.6071428571429 48.218999999999994L569.6071428571429 48.218999999999994L569.6071428571429 160.73L569.6071428571429 160.73C569.6071428571429 160.73 559.6339285714286 160.73 559.6339285714286 160.73 " fill="rgba(1,17,28,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 559.6339285714286 160.73L 559.6339285714286 48.218999999999994Q 559.6339285714286 48.218999999999994 559.6339285714286 48.218999999999994L 569.6071428571429 48.218999999999994Q 569.6071428571429 48.218999999999994 569.6071428571429 48.218999999999994L 569.6071428571429 48.218999999999994L 569.6071428571429 160.73L 569.6071428571429 160.73z" pathFrom="M 559.6339285714286 160.73L 559.6339285714286 160.73L 569.6071428571429 160.73L 569.6071428571429 160.73L 569.6071428571429 160.73L 569.6071428571429 160.73L 569.6071428571429 160.73L 559.6339285714286 160.73" cy="48.218999999999994" cx="646.9196428571429" j="6" val="70" barHeight="112.511" barWidth="10.973214285714286"></path></g><g id="SvgjsG1042" class="apexcharts-series" rel="2" seriesName="Revenue" data:realIndex="1"><path id="SvgjsPath1044" d="M43.892857142857146 160.73L43.892857142857146 64.292C43.892857142857146 64.292 43.892857142857146 64.292 43.892857142857146 64.292L53.86607142857143 64.292C53.86607142857143 64.292 53.86607142857143 64.292 53.86607142857143 64.292L53.86607142857143 64.292L53.86607142857143 160.73L53.86607142857143 160.73C53.86607142857143 160.73 43.892857142857146 160.73 43.892857142857146 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 43.892857142857146 160.73L 43.892857142857146 64.292Q 43.892857142857146 64.292 43.892857142857146 64.292L 53.86607142857143 64.292Q 53.86607142857143 64.292 53.86607142857143 64.292L 53.86607142857143 64.292L 53.86607142857143 160.73L 53.86607142857143 160.73z" pathFrom="M 43.892857142857146 160.73L 43.892857142857146 160.73L 53.86607142857143 160.73L 53.86607142857143 160.73L 53.86607142857143 160.73L 53.86607142857143 160.73L 53.86607142857143 160.73L 43.892857142857146 160.73" cy="64.292" cx="131.17857142857144" j="0" val="60" barHeight="96.43799999999999" barWidth="10.973214285714286"></path><path id="SvgjsPath1045" d="M131.67857142857144 160.73L131.67857142857144 56.2555C131.67857142857144 56.2555 131.67857142857144 56.2555 131.67857142857144 56.2555L141.65178571428572 56.2555C141.65178571428572 56.2555 141.65178571428572 56.2555 141.65178571428572 56.2555L141.65178571428572 56.2555L141.65178571428572 160.73L141.65178571428572 160.73C141.65178571428572 160.73 131.67857142857144 160.73 131.67857142857144 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 131.67857142857144 160.73L 131.67857142857144 56.2555Q 131.67857142857144 56.2555 131.67857142857144 56.2555L 141.65178571428572 56.2555Q 141.65178571428572 56.2555 141.65178571428572 56.2555L 141.65178571428572 56.2555L 141.65178571428572 160.73L 141.65178571428572 160.73z" pathFrom="M 131.67857142857144 160.73L 131.67857142857144 160.73L 141.65178571428572 160.73L 141.65178571428572 160.73L 141.65178571428572 160.73L 141.65178571428572 160.73L 141.65178571428572 160.73L 131.67857142857144 160.73" cy="56.2555" cx="218.96428571428572" j="1" val="65" barHeight="104.47449999999999" barWidth="10.973214285714286"></path><path id="SvgjsPath1046" d="M219.46428571428572 160.73L219.46428571428572 136.6205C219.46428571428572 136.6205 219.46428571428572 136.6205 219.46428571428572 136.6205L229.4375 136.6205C229.4375 136.6205 229.4375 136.6205 229.4375 136.6205L229.4375 136.6205L229.4375 160.73L229.4375 160.73C229.4375 160.73 219.46428571428572 160.73 219.46428571428572 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 219.46428571428572 160.73L 219.46428571428572 136.6205Q 219.46428571428572 136.6205 219.46428571428572 136.6205L 229.4375 136.6205Q 229.4375 136.6205 229.4375 136.6205L 229.4375 136.6205L 229.4375 160.73L 229.4375 160.73z" pathFrom="M 219.46428571428572 160.73L 219.46428571428572 160.73L 229.4375 160.73L 229.4375 160.73L 229.4375 160.73L 229.4375 160.73L 229.4375 160.73L 219.46428571428572 160.73" cy="136.6205" cx="306.75" j="2" val="15" barHeight="24.109499999999997" barWidth="10.973214285714286"></path><path id="SvgjsPath1047" d="M307.25 160.73L307.25 104.47449999999999C307.25 104.47449999999999 307.25 104.47449999999999 307.25 104.47449999999999L317.2232142857143 104.47449999999999C317.2232142857143 104.47449999999999 317.2232142857143 104.47449999999999 317.2232142857143 104.47449999999999L317.2232142857143 104.47449999999999L317.2232142857143 160.73L317.2232142857143 160.73C317.2232142857143 160.73 307.25 160.73 307.25 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 307.25 160.73L 307.25 104.47449999999999Q 307.25 104.47449999999999 307.25 104.47449999999999L 317.2232142857143 104.47449999999999Q 317.2232142857143 104.47449999999999 317.2232142857143 104.47449999999999L 317.2232142857143 104.47449999999999L 317.2232142857143 160.73L 317.2232142857143 160.73z" pathFrom="M 307.25 160.73L 307.25 160.73L 317.2232142857143 160.73L 317.2232142857143 160.73L 317.2232142857143 160.73L 317.2232142857143 160.73L 317.2232142857143 160.73L 307.25 160.73" cy="104.47449999999999" cx="394.5357142857143" j="3" val="35" barHeight="56.2555" barWidth="10.973214285714286"></path><path id="SvgjsPath1048" d="M395.0357142857143 160.73L395.0357142857143 112.511C395.0357142857142 112.511 395.0357142857142 112.511 395.0357142857143 112.511L405.00892857142856 112.511C405.00892857142856 112.511 405.00892857142856 112.511 405.00892857142856 112.511L405.00892857142856 112.511L405.00892857142856 160.73L405.00892857142856 160.73C405.00892857142856 160.73 395.0357142857143 160.73 395.0357142857143 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 395.0357142857143 160.73L 395.0357142857143 112.511Q 395.0357142857143 112.511 395.0357142857143 112.511L 405.00892857142856 112.511Q 405.00892857142856 112.511 405.00892857142856 112.511L 405.00892857142856 112.511L 405.00892857142856 160.73L 405.00892857142856 160.73z" pathFrom="M 395.0357142857143 160.73L 395.0357142857143 160.73L 405.00892857142856 160.73L 405.00892857142856 160.73L 405.00892857142856 160.73L 405.00892857142856 160.73L 405.00892857142856 160.73L 395.0357142857143 160.73" cy="112.511" cx="482.32142857142856" j="4" val="30" barHeight="48.218999999999994" barWidth="10.973214285714286"></path><path id="SvgjsPath1049" d="M482.82142857142856 160.73L482.82142857142856 152.6935C482.82142857142856 152.6935 482.82142857142856 152.6935 482.82142857142856 152.6935L492.79464285714283 152.6935C492.7946428571428 152.6935 492.7946428571428 152.6935 492.79464285714283 152.6935L492.79464285714283 152.6935L492.79464285714283 160.73L492.79464285714283 160.73C492.79464285714283 160.73 482.82142857142856 160.73 482.82142857142856 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 482.82142857142856 160.73L 482.82142857142856 152.6935Q 482.82142857142856 152.6935 482.82142857142856 152.6935L 492.79464285714283 152.6935Q 492.79464285714283 152.6935 492.79464285714283 152.6935L 492.79464285714283 152.6935L 492.79464285714283 160.73L 492.79464285714283 160.73z" pathFrom="M 482.82142857142856 160.73L 482.82142857142856 160.73L 492.79464285714283 160.73L 492.79464285714283 160.73L 492.79464285714283 160.73L 492.79464285714283 160.73L 492.79464285714283 160.73L 482.82142857142856 160.73" cy="152.6935" cx="570.1071428571429" j="5" val="5" barHeight="8.0365" barWidth="10.973214285714286"></path><path id="SvgjsPath1050" d="M570.6071428571429 160.73L570.6071428571429 96.43799999999999C570.6071428571429 96.43799999999999 570.6071428571429 96.43799999999999 570.6071428571429 96.43799999999999L580.5803571428572 96.43799999999999C580.5803571428572 96.43799999999999 580.5803571428572 96.43799999999999 580.5803571428572 96.43799999999999L580.5803571428572 96.43799999999999L580.5803571428572 160.73L580.5803571428572 160.73C580.5803571428572 160.73 570.6071428571429 160.73 570.6071428571429 160.73 " fill="var(--primary)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMasko31b8lgl)" pathTo="M 570.6071428571429 160.73L 570.6071428571429 96.43799999999999Q 570.6071428571429 96.43799999999999 570.6071428571429 96.43799999999999L 580.5803571428572 96.43799999999999Q 580.5803571428572 96.43799999999999 580.5803571428572 96.43799999999999L 580.5803571428572 96.43799999999999L 580.5803571428572 160.73L 580.5803571428572 160.73z" pathFrom="M 570.6071428571429 160.73L 570.6071428571429 160.73L 580.5803571428572 160.73L 580.5803571428572 160.73L 580.5803571428572 160.73L 580.5803571428572 160.73L 580.5803571428572 160.73L 570.6071428571429 160.73" cy="96.43799999999999" cx="657.8928571428572" j="6" val="40" barHeight="64.292" barWidth="10.973214285714286"></path></g><g id="SvgjsG1034" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1043" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine1108" x1="0" y1="0" x2="614.5" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1109" x1="0" y1="0" x2="614.5" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1110" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1111" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1112" class="apexcharts-point-annotations"></g></g><g id="SvgjsG1075" class="apexcharts-yaxis" rel="0" transform="translate(17.5, 0)"><g id="SvgjsG1076" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1077" font-family="poppins" x="20" y="31.5" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1078">100</tspan></text><text id="SvgjsText1079" font-family="poppins" x="20" y="63.646" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1080">80</tspan></text><text id="SvgjsText1081" font-family="poppins" x="20" y="95.792" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1082">60</tspan></text><text id="SvgjsText1083" font-family="poppins" x="20" y="127.938" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1084">40</tspan></text><text id="SvgjsText1085" font-family="poppins" x="20" y="160.084" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1086">20</tspan></text><text id="SvgjsText1087" font-family="poppins" x="20" y="192.23000000000002" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="100" fill="#787878" class="apexcharts-text apexcharts-yaxis-label apexcharts-xaxis-label" style="font-family: poppins;"><tspan id="SvgjsTspan1088">0</tspan></text></g></g><g id="SvgjsG1027" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 115px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(1, 17, 28);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: var(--primary);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
							<div class="resize-triggers"><div class="expand-trigger"><div style="width: 733px; height: 262px;"></div></div><div class="contract-trigger"></div></div>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<div class="card" id="user-activity">
						<div class="card-header flex-wrap">
							<h4 class="fs-20 font-w600">Vacancies Stats</h4>
							<div class="d-flex align-items-center flex-wrap">
								<div class="me-5">
									<span class="me-4">
										<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" rx="6.5" fill="#35c556" />
										</svg>
										Application Sent
									</span>
									<span class="me-4">
										<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" rx="6.5" fill="#3f4cfe" />
										</svg>
										Interviews
									</span>
									<span>
										<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" rx="6.5" fill="#f34040" />
										</svg>
										Rejected
									</span>
								</div>
								<div class="card-action coin-tabs">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item">
											<a class="nav-link " data-bs-toggle="tab" href="#Daily" role="tab">Daily</a>
										</li>
										<li class="nav-item">
											<a class="nav-link " data-bs-toggle="tab" href="#weekly" role="tab">Weekly</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" data-bs-toggle="tab" href="#monthly" role="tab">Monthly</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="Daily">
									<canvas id="activity" height="115"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						<div class="col-xl-12">
							<div class="card" id="user-activity1">
								<div class="card-header border-0 pb-0">
									<h4 class="fs-20 mb-1">Chart</h4>
									<div class="card-action coin-tabs">
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item">
												<a class="nav-link " data-bs-toggle="tab" href="#Daily1" role="tab">Daily</a>
											</li>
											<li class="nav-item">
												<a class="nav-link " data-bs-toggle="tab" href="#weekly1" role="tab">Weekly</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active" data-bs-toggle="tab" href="#monthly1" role="tab">Monthly</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="card-body">
									<span class="me-sm-5 me-0 font-w500">
										<svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" fill="#f73a0b" />
										</svg>
										Delivered
									</span>
									<span class="fs-16 font-w600 me-5">239 <small class="text-success fs-12 font-w400">+0.4%</small></span>
									<span class="ms-sm-5 ms-0 font-w500">
										<svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
											<rect width="13" height="13" fill="#6e6e6e" />
										</svg>
										Expense
									</span>
									<span class="fs-16 font-w600">239</span>
									<div class="tab-content mt-5" id="myTabContent">
										<div class="tab-pane fade show active" id="monthly1">
											<canvas id="activity1" class="chartjs"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="card-header border-0 pb-0">
									<h4 class="fs-20 mb-1">Featured Companies</h4>
									<div class="dropdown">
										<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);">Delete</a>
											<a class="dropdown-item" href="javascript:void(0);">Edit</a>
										</div>
									</div>
								</div>
								<div class="card-body loadmore-content">
									<div class="row" id="FeaturedCompaniesContent">
										<div class="col-xl-6 col-sm-6 mt-4 ">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Kleon Team</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 mt-4 col-sm-6">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#7630d2" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Ziro Studios Inc.</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6  col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#b848ef" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Qerza</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#7e1d74" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Kripton Studios</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#0411c2" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Omah Ku Inc.</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#378a82" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Ventic</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#175baa" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Sakola</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-sm-6 mt-4">
											<div class="d-flex">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
														<g transform="translate(-457 -443)">
															<rect width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5" />
															<g transform="translate(457 443)">
																<rect data-name="placeholder" width="71" height="71" rx="12" fill="#eeb927" />
																<circle data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff" />
																<circle data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate" />
															</g>
														</g>
													</svg>
												</span>
												<div class="ms-3 featured">
													<h4 class="fs-20 mb-1">Uena Foods</h4>
													<span>Desgin Team Agency</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer border-0 m-auto pt-0">
									<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded m-auto dlab-load-more" id="FeaturedCompanies" rel="ajax/featuredcompanies.html">View more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





